<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col one-half">
                <div class="social-links">
                    <ul class="contact-list">
                        <li>
                            <a class="u-email" href="mailto:{{ site.email }}">Contact</a><br/>
                        </li>
                    </ul>
                    {%- include social.html -%}
                </div>
            </div>
        </div>
</footer>
